## letsencrypt_wrapper.conf
#
# configuration parameters for letsencrypt_wrapper.sh

# email for registration
email="you@email.cz"
# comma separated values of main Gitlab domain names
gitlab_domains="git.example.cz"

# comma separated values of Pages domain names
pages_domains="pages.example.cz,you.pages.example.cz,docs.you.cz"

# IP address where Pages listens
pages_bind_ip="2.3.4.5"

#letsencrypt_extra_args="--staging"
